@page
@model MorseCodeApp2.Pages.Sentences.CreateModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Morse Code Converter App</h1>
    <br />
    <br />
    <div class="col-md-5">
            <label asp-for="Sentence.Input" class="control-label"></label>
            <select asp-for="Sentence.Input" class="form-control" asp-items="ViewBag.SentenceInput"></select>
			<br />
			<button class="btn btn-primary" >Convert</button>
            <br />
			<br />
            <label asp-for="Sentence.Output" class="control-label"></label>
            <input asp-for="Sentence.Output" class="form-control" readonly/>
            <br />
        
    </div>  
   
</div>
